<h3>Details:</h3>
<p>Name: {{model.fullName}}</p>
<p>Email: {{model.email}}</p>
<p>Type: {{model.type}}</p>
<p>Provider: {{model.provider}}</p>
<p>UID: {{model.uid}}</p>
<p>Authentication Token: {{model.authenticationToken}}</p>
<p>Additionl Info: {{model.additionInfo}}</p>
<p>Created at: {{model.createdAt}}</p>
<p>Updated at: {{model.updatedAt}}</p>
