<h3>Details:</h3>
<p>Name: {{model.name}}</p>
<p>Url: {{model.url}}</p>
<p>Separator: {{model.separator}}</p>
<p>Suffix: {{model.suffix}}</p>
<p>Additional Info: {{model.additionalInfo}}</p>
<p>Created at: {{model.createdAt}}</p>
<p>Updated at: {{model.updatedAt}}</p>
