<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flag.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @flag.value %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @flag.desc %>
</p>

<%= link_to 'Edit', edit_flag_path(@flag), {:class => "btn btn-primary"} %> |
<%= link_to 'Destroy', @flag, {method: :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-danger"} %> |
<%= link_to 'Back', flags_path, {:class => "btn btn-default"} %>
