<h2>Details</h2>
<div>Word:</div>
<div>{{input value=word.word disabled=readonly}}</div>
<div>Trick:</div>
<div>{{textarea cols="80" rows="1" value=word.trick disabled=readonly}}</div>
<div>Additional Info:</div>
<div>{{textarea cols="80" rows="10" value=word.additionalInfo disabled=readonly}}</div>
{{#if isCreatedUpdatedShowing}}
  <div>Created at: {{word.createdAt}}</div>
  <div>Updated at: {{word.updatedAt}}</div>
  <div><button {{action "hideCreatedUpdated"}}>Hide Created/Updated Info</button></div>
{{else}}
  <div><button {{action "showCreatedUpdated"}}>Show Created/Updated Info</button></div>
{{/if}}
<div>Associated Flags:</div>
{{#each allFlags as |flag|}}
<div>
  <input type="checkbox" name={{word-flag-checkbox-name flag.id}} value="1" checked={{has-word-flag word.flags flag.id}} disabled={{readonly}} onclick={{action 'addRemoveFlag' flag.id}} />
  {{flag.name}}-{{flag.value}}
</div>
{{/each}}
<div><button {{action "toggleReadonly"}}>Ediable/Readonly</button></div>
{{#unless readonly}}
  <div><button {{action "save"}}>Save</button></div>
{{/unless}}
{{#if freshState}}
  <!-- <div>Notice: No changes made so far!</div> -->
{{else}}
  {{#if updateSuccess}}
    <div>Notice: Successfully updated to server!</div>
  {{else}}
    <div>Warning: Update to server failed!</div>
  {{/if}}
{{/if}}
