<div>
  <%= form_tag words_path, {method: :get, :class => "form-inline"} do %>
    <% current_filters_and_orders.each do |key, value| %>
      <%= hidden_field_tag key, value %>
    <% end %>
    <!--<div class="form-group">-->
      <!--<%= label_tag :search_text, 'Search Text' %>-->
      <%= text_field_tag :search_text, current_filters_and_orders[:search_text], {:placeholder => "Search Text", :class => "form-control"} %>
    <!--</div>-->
    <!--<div class="actions">-->
      <%= submit_tag 'Search', {:class=> "btn btn-success"} %>
    <!--</div>-->
  <% end %>
</div>
