<div>
  <%= form_tag words_path, {method: :get, :class => "form-inline form-search"} do %>
      <% current_filters_and_orders.each do |key, value| %>
          <% unless [:search_text, :search_type, :search_negative].include? key.to_s.to_sym %>
              <%= hidden_field_tag key, value %>
          <% end %>
      <% end %>
      <%= text_field_tag :search_text, current_filters_and_orders[:search_text], {:placeholder => "Search Text", :class => "form-control search-query"} %>
      <%= radio_button_tag :search_type, 'word', current_filters_and_orders[:search_type] == 'word' %>
      <%= label_tag :search_type, 'Only Word' %>
      <%= radio_button_tag :search_type, 'record', current_filters_and_orders[:search_type] == 'record' %>
      <%= label_tag :search_type, 'Whole Record' %>
      <%= check_box_tag :search_negative, '1', current_filters_and_orders[:search_negative] == '1' %>
      <%= label_tag :search_negative, 'Negate' %>
      <%= submit_tag 'Search', {:class => "btn btn-success"} %>
  <% end %>
</div>
