<h1>Words </h1>
<div class="div2">
  <h2>Links</h2>
  <%= link_to 'New Word', new_word_path, {:class => "btn btn-primary", :target => '_blank'} %>
  <%= link_to 'Take Backup', words_path(:format => :download), {:class => "btn btn-info"} %>
  <%= link_to 'Restore Backup', backup_restore_form_words_path, {:class => "btn btn-info"} %>
  <%= link_to 'Manage Your Dictionaries', edit_your_dictionaries_users_path, :class => 'btn btn-success', :target => '_blank' %>
</div>
<div class="div2">
  <h2>Listing Words</h2>

  <div class="div3">
    <h3>Reset all ordering and filtering: </h3>

    <p><%= "Current Filters and Orders: #{humanized_hash(current_filters_and_orders)}" %></p>
    <%= link_to 'Reset', words_path(:reset => true), {:class => "btn btn-primary"} %>
    <!--<%= link_to('Expire My Caches', expire_my_word_caches_words_path, {:class => "btn btn-danger", "data-no-turbolink" => true}) %>-->
  </div>
  <div class="div3">
    <h3>Filters: </h3>
    <%= link_to 'Without Trick', words_path(add_to_current_filters_and_orders(:filter_by => 'without_trick')), {:class => "btn btn-info"} %>
    <%= link_to 'With Trick', words_path(add_to_current_filters_and_orders(:filter_by => 'with_trick')), {:class => "btn btn-info"} %>
    <%= render 'flags/filter_by_flag_links' %>
    <br/>
    <br/>
    <%= render :partial => 'search_form' %>
  </div>
  <div class="div3">
    <h3>Orders: </h3>
    <%= link_to 'Random Order', words_path(add_to_current_filters_and_orders(:sort_by => 'random')), {:class => "btn btn-warning"} %>
    <%= link_to 'Recent First', words_path(add_to_current_filters_and_orders(:sort_by => 'recent')), {:class => "btn btn-warning"} %>
  </div>
  <div class="div3">
    <% cache(words_index_fragment_name(current_user.id, current_filters_and_orders)) do %>
        <h3>Listing all words:</h3>

        <p>No. of words: <%= @words.size %> </p>

        <p>No. of associated flags: <%= @flag_size %> </p>
        <% if @words.empty? %>
            <p class="text-info"> Empty word list </p>
        <% else %>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr class="info">
                  <th>Id</th>
                  <th>Word</th>
                  <th>Flags</th>
                  <th colspan="1">Dictionaries</th>
                  <th class="success">Trick</th>
                </tr>
                </thead>
                <tbody>
                <% @words.each do |word| %>
                    <tr>
                      <td><%= word.id %></td>
                      <td><%= link_to word.word, word, {:class => "btn btn-default", :target => '_blank'} %></td>
                      <td><%= render 'word_flags_span', :word => word %></td>
                      <!--<td><%= link_to 'Show', word %></td>-->
                      <!--<td><%= link_to 'Edit', edit_word_path(word) %></td>-->
                      <!--<td><%= link_to 'Destroy', word, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
                      <td>
                        <%= render :partial => 'dictionary_links', :locals => {:dictionaries => @dictionaries, :phrase => word.word} %>
                      </td>
                      <td><%= word.trick %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

<br>
