<h2>Word Details</h2>
<p>
  <strong>User:</strong>
  <%= @word.user %>
</p>
<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>
<p>
  <strong>Meaning:</strong>
  <%= render :partial => 'dictionary_links', :locals => {:dictionaries => @dictionaries, :phrase => @word.word} %>
</p>
<p>
  <strong>Trick:</strong>
  <%= @word.trick %>
</p>
<p>
  <strong>Additional info:</strong>
  <%= @word.additional_info %>
</p>

<h2>Associated Flags</h2>
<%= render 'word_flags_span', :word => @word %>

<h2>Navigation</h2>
<%= link_to 'Edit', edit_word_path(@word), {:class => "btn btn-primary"} %> |
<%= link_to 'Destroy', @word, {method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger"} %> |
<%= link_to 'Back', words_path, {:class => "btn btn-default"} %>
<br/>