<div class="div2">
  <h2>Word Details</h2>

  <p>
    <strong>User:</strong>
    <em><%= @word.user %></em>
  </p>

  <p>
    <strong>Word:</strong>
    <em><%= @word.word %></em>
  </p>

  <p>
    <strong>Meaning:</strong>
    <%= render :partial => 'dictionary_links', :locals => {:dictionaries => @dictionaries, :phrase => @word.word} %>
  </p>

  <p>
    <strong>Trick:</strong>
    <em><%= @word.trick %></em>
  </p>

  <p>
    <strong>Additional info:</strong>
  <pre><%= @word.additional_info %></pre>
  </p>
</div>
<div class="div2">
  <h2>Associated Flags</h2>
  <%= render 'word_flags_span', :word => @word %>
</div>
<div class="div2">
  <h2>Navigation</h2>
  <%= link_to 'Edit', edit_word_path(@word), {:class => "btn btn-primary"} %> |
  <%= link_to 'Destroy', @word, {method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger"} %> |
  <%= link_to 'Back', words_path, {:class => "btn btn-default"} %>
</div>

<br/>