<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @word.user %>
</p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Trick:</strong>
  <%= @word.trick %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @word.additional_info %>
</p>

<%= link_to 'Edit', edit_word_path(@word), {:class => "btn btn-primary active"} %> |
<%= link_to 'Destroy', @word, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger active" %> |
<%= link_to 'Back', words_path, {:class => "btn btn-default active"} %>
