<div class="div2">
  <h2>Word Details</h2>

  <p>
    <strong>User:</strong>
    <em><%= @word.user %></em>
  </p>

  <p>
    <strong>Word:</strong>
    <em><%= @word.word %></em>
  </p>

  <p>
    <strong>Meaning:</strong>
    <%= render :partial => 'dictionary_links', :locals => {:dictionaries => @dictionaries, :phrase => @word.word} %>
  </p>

  <p>
    <strong>Pronunciation:</strong> (beta-support)
      <% path_mp3 = "https://dictionary.cambridge.org/media/english/us_pron/#{@word.word[0]}/#{@word.word[0...3]}/#{@word.word[0...5]}/#{@word.word}.mp3" %>
      <% path_ogg = "https://dictionary.cambridge.org/media/english/us_pron/#{@word.word[0]}/#{@word.word[0...3]}/#{@word.word[0...5]}/#{@word.word}.ogg" %>
      <div>
        <audio preload="none" controls controlsList="nodownload" layout="nodisplay">
          <source type="audio/mpeg" src="<%= path_mp3 %>" />
          <source type="audio/ogg" src="<%= path_ogg %>" />
          Your browser does not support the audio element.
        <audio>
      </div>
  </p>

  <p>
    <strong>Trick:</strong>
    <em><%= @word.trick %></em>
  </p>

  <p>
    <strong>Additional info:</strong>
    <pre><%= @word.additional_info %></pre>
  </p>
</div>
<div class="div2">
  <h2>Related Words</h2>
  <p><%= "Below are words related to #{@word.word}:" %></p>
  <div class="related_words">
    <% @word.related_words.each do |related_word| %>
        <%= link_to related_word, word_path(related_word), {:class => "btn btn-default"} %>
    <% end %>
  </div>
</div>
<div class="div2">
  <h2>Associated Flags</h2>
  <%= render 'word_flags_span', :word => @word %>
</div>
<div class="div2">
  <h2>Navigation</h2>
  <%= link_to 'Edit', edit_word_path(@word), {:class => "btn btn-primary"} %> |
  <%= link_to 'Destroy', @word, {method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger"} %> |
  <%= link_to 'Back', words_path, {:class => "btn btn-default"} %>
</div>

<br/>
