<h3>Details:</h3>
<p>Word: {{model.word}}</p>
<p>Trick: {{model.trick}}</p>
<p>Additional Info: {{model.additionalInfo}}</p>
<p>Created at: {{model.createdAt}}</p>
<p>Updated at: {{model.updatedAt}}</p>
